@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}   
.container{
    max-width :1440px;
    width: 100%;
    margin: 0 auto; 

}
.g3_inputDashSelect{
    box-sizing: border-box;
    padding: 0 20px;
    width: 13.5vw;
    height: 5vh;
    background-color: transparent;
    outline: 0;
    border: 1px #B3B3B3 solid;
    border-radius: 15px;
    margin-bottom: 2em;
    font-size: 1.1em;
    color: #B3B3B3;
    font-weight: bold;
    background-position: 180px;
    margin-top: 10px;
}
.g3_organizadorDashboard{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.g3_boxTituloDashboard{
    margin-top: 4rem;
    width: 60%;
    display: flex;

    justify-content: space-between;
}
.g3_tituloDashboard{
    font-size: 3.1em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.g3_containerGraficos{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 3.9rem;
    /* background-color: brown; */
}
.g3_boxGraficosLeft{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;

}
.g3_graficoProdutividade{
    border: 2px solid #b3b3b3;
    height: 27.7vh;
    width: 24.68vw;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-right: 3rem;
    background-color: #fcfcfc;
}
.g3_imgSetaProx{
    height: 3vh;
}
.g3_graficoProgress{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid #b3b3b3;
    background-color: #fcfcfc;
    justify-content: space-evenly;
    align-items: center;
    width: 63.4%;
    border-radius: 10px;
    margin-bottom: 4rem;
    /* background-color: aqua; */
}
.g3_graficoAvProgress{
    display: flex;
    background-color: #fcfcfc;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
    margin-bottom: 4rem;
    margin-left: 3rem;
    /* background-color: aqua; */
}
.g3_spanGraficoP{
    display: flex;
    align-items: center;
    height: 50px;
}
.g3_spanGraficoF{
    display: flex;
    align-items: center;
    height: 50px;
}
.g3_containerProdutividade{
    display: flex;
    /* background-color: blueviolet; */
}
.g3_graficoProdutividadeUni{
    border: 2px solid #b3b3b3;
    background-color: #ffffff;
    height: 27.7vh;
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 27vw;
}
.g3_boxGraficosBaixo{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 408px;
    height: 300px;
}
.g3_containerGraficoLeft{
    width: 50%;
    height: 100%;
}
.g3_containerGraficoRight{
    width: 30%;
    margin-right: 3rem;
}
.containerGraficoPizza{
    width: 30%;
}
.g3_graficoSatisfacaoPessoal{
    width: 100%;
    border: #b3b3b3 2px solid;
    /* height: 44.7vh; */
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;

}
.g3_graficoProdutividadeUnidade{
    width: 100%;
    
    border: #b3b3b3 2px solid;
    height: 22.7vh;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.g3_graficoDireita{
    height: 79.4%;
    width: 100%;
}
.g3_graficoFuncionarios{
    height: 100%;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
}   
@media screen and (max-width: 480px) {
    .container {
        margin: 1rem 1.9rem;
      }
      .g3_containerProdutividade{
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      .g3_containerGraficos{
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .g3_boxTituloDashboard{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        width: 100%;
      }
      .g3_graficoProgress{
          width: 70vw;
          display: flex;
          flex-direction: column;
      }
      .g3_graficoAvProgress{
         display: none;
      }
      .g3_graficoProdutividade{
          margin-right: 0;
      }
      .g3_boxGraficosLeft{
          margin-right: 0;
      }
      .g3_graficoProdutividade{
          width: 70vw;
      }
      .g3_organizadorDashboard{
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .g3_imgSetaProx{
        transform: rotate(90deg);
      }
      .g3_tituloDashboard{
        font-size: 2.1em;
        margin-bottom: 2rem;
        text-align: center;
      }
      .g3_inputDashSelect{
          width: 70%;
          background-position: 150px;
      }
    
}