@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}


.header_g2 {
    height: 80px;
    background-color: transparent;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.container_header_g2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.logo_header_g2 {
    margin-right: 30vw;
}



.header_g2 p {
    margin: 0;
}

.select_header_g2:link {
    color: #000000;
    text-decoration: none;
    display: flex;
}





div.select_header_g2 {
    display: inline-block;
    border-radius: 2px;
    position: relative;
    background: transparent;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.text_link_header_g2 {
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    display: flex;
    height: 45px;
    background-color: #fff !important;
}
.text_link_header_g2 span {
    background-color: #fff !important;
}
.text_link_header_g2:hover {
    border-radius: 10px;
    
}


.text_link_header_g2 span:hover{
    color: #c20004;
    transform: scale(1.05);
    background-color: #fff !important;
}

div.select_header_g2 p {
    padding: 5px;
    width: 100%;
    text-decoration: none;
}

div.select_header_g2 .hidden_header_g2::before{
    content: "";
    position: absolute;
    top: -20px;
    left: 48px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
    z-index: 99;
}

div.select_header_g2 .hidden_header_g2 {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    background: #fff !important;
    z-index: 10;
    width: 22vw;
    padding: 30px 0 0 20px;
    border-radius:10px;
    margin-top: 20px;
    z-index: 99;
}

.hidden_header_g2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
}

div.select_header_g2:hover .hidden_header_g2 {
    visibility: visible;
    opacity: 1;
    z-index: 99;
}

div.select_header_g2 p:hover, div.select_header_g2:hover {
    background-color: transparent ;
    
}

.input_motivacao_header_g2 {
    color: #000000;
    text-decoration: none;
}

.img_perfil_g2 {
    background-color: transparent;
}

.img_perfil_g2 img{
    width: 3vw;
    object-fit: contain;
    height: 3vh;
}

.input_header_g2 img {
    height: 15px;
}

.img_logout_header_g2 {
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-right: 20px;
    cursor: pointer;
}
table {
    border-collapse: collapse;
  }

  @media screen and (max-width: 480px) {

    .header_g2{
        margin-top: 8rem;
    }
    .container_header_g2{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
    }
    .select_header_g2{
        margin-top: 4rem;
    }
  }